<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourney Center - Beta</title>
    <link rel="stylesheet" type="text/css" href="/public/css/rules.css">
</head>
<%- contentFor('header') %>
    <div class="banner">
      <img src="/img/TourneyBaseLogo.png" alt="logo" class="logo">
      <div class="title">Tourney Center - Beta</div>
      <nav>
          <div class="menu-wrap">
              <input type="checkbox" class="toggler">
              <div class="hamburger"><div></div></div>
              <ul>
                <li><a href="/">My Bracket</a></li>
                <li><a href="/leaderboard">Leaderboard</a></li>
                <li><a href="/groups">Groups</a></li>
                <li><a href="/rules">How It Works</a></li>
                <li><a href="/users/logout" id="logout">Logout</a></li>
              </ul>
            </div>
          </nav>
          <div id="name">How It Works</div>
    </div>
<%- contentFor('body') %>
<body>
    <div class="rulesHolder">
    <div class="rulesList">
    <ul>
        <li>
            Make your predictions for the NBA Playoffs.
        </li>
        <li>
            In the first round, you get 10 points per correct pick. Every round, the point value per pick doubles. This means that each round you can get up to 80 points.
        </li>
        <li>
            See how your score stacks up against the rest!
        </li>
    </ul>
    </div>
    </div>
</body>
</html>